stache.1
doc/stache.1.ronn
*.patch
*.swp
.swp
*.bak
.version
.version-prev
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/install-sh
build-aux/missing
completions/_stache
completions/stache
config.log
config.status
configure
aminclude.am
/stache
stache-*
