nook.1
doc/nook.1.ronn
*.patch
*.swp
.swp
*.bak
.version
.version-prev
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/install-sh
build-aux/missing
completions/_nook
completions/nook
config.log
config.status
configure
aminclude.am
/nook
nook-*
