room.1
doc/room.1.ronn
*.patch
*.swp
.swp
*.bak
.version
.version-prev
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/install-sh
build-aux/missing
completions/_room
completions/room
config.log
config.status
configure
aminclude.am
/room
room-*
